# Documentation: http://docs.travis-ci.com/user/languages/julia/

language: julia

os:
  - linux
  - osx

julia:
  - 0.6

notifications:
  email: false

before_install:
  - julia -e 'Pkg.clone("https://github.com/JuliaInv/jInv.jl","jInv"); Pkg.build("jInv"); Pkg.add("HDF5");'
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi

script:
  - julia -e 'Pkg.clone(pwd()); Pkg.build("JOcTree"); Pkg.test("JOcTree"; coverage=true)'

after_success:
  - julia -e 'cd(Pkg.dir("JOcTree")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
